    <nav>
        <a href = "https://webpages.charlotte.edu/jmudani/" target="_blank">CLT Webspace</a>
        ||
        <a href = "https://github.com/jmudani" target="_blank">GitHub</a>
        ||
        <a href = "https://jmudani.github.io/" target="_blank">GitHub.io</a>
        ||
        <a href = "https://jmudani.github.io/itis3135/" target="_blank">Github Course Page</a>
        ||
        <a href = "https://www.freecodecamp.org/jmudani" target="_blank">FreeCodeCamp</a>
        ||
        <a href = "https://www.codecademy.com/profiles/jmudani" target="_blank">CodeAcademy</a>
        ||
        <a href = "https://www.linkedin.com/in/jai-mudani-686417241/" target="_blank">LinkedIn</a>
    </nav>
    <p></p>
    <a>Page Designed by</a>
    <a href="mudanienterprises.com/index.html">Mudani Enterprises© 2023</a>
    <a href="https://www.freecodecamp.org/certification/jmudani/responsive-web-design">, Certified in Responsive Web Design </a>
    <p></p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!" target="_blank">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!" target="_blank">
    </a>