<h1>Jai Mudani's Jacked Mammoth || ITIS 3135</h1>
        <nav>
            <a href = "./">Homepage</a>
            ||
            <a href = "introduction.html">Introduction</a>
            ||
            <a href = "contract.html">Contract</a>
            ||
            <a href = "tables.html">HTML Tables</a>
            ||
            <a href = "forms.html">HTML Form</a>
            ||
            <a href = "website_evaluations.html">Website Evaluatons</a>
            ||
            <a href = "firstscripts.html">First Scripts</a>
            ||
            <a href = "byo_intro.html">BYO Intro</a>
            ||
            <a href = "calculator_try.html">Calculator Try</a>
            ||
            <a href = "calculatorFcc.html">Calculator FCC</a>
            ||
            <a href = "Arrays.html">Arrays</a>
            ||
            <a href = "interactiveDrawing.html">Interactive Drawing</a>
            ||
            <a href = "slideshow.html">Slideshow</a>
            ||
            <a href = "Mudani-Activity14.html">Load Speaker Data</a>
        </nav>
        <p></p>
        <nav>
            <a href = "stuff/cRaPpY & WeBSiTe.htm" target="_blank">Crappy Website</a>
            ||
            <a href = "project_1.html">Project 1</a>
            ||
            <a href = "hobby/hobby.html">Hobby</a>
            ||
            <a href = "clientProject/index.html">Client Project</a>
            ||
            <a href = "test.html">Test</a>
        </nav>