<h1>Jai Mudani's Jacked Mammoth || ITIS 3135</h1>
        <nav>
            <a href = "./">Homepage</a>
            ||
            <a href = "introduction.html">Introduction</a>
            ||
            <a href = "contract.html">Contract</a>
            ||
            <a href = "tables.html">HTML Tables</a>
            ||
            <a href = "forms.html">HTML Form</a>
        </nav>
        <p></p>
        <nav>
            <a href = "stuff/cRaPpY & WeBSiTe.htm">Crappy Website</a>
        </nav>