<h1>Jai Mudani's Jacked Mammoth || ITIS 3135</h1>
        <nav>
            <a href = "./">Homepage</a>
            ||
            <a href = "introduction.html">Introduction</a>
            ||
            <a href = "contract.html">Contract</a>
            ||
            <a href = "tables.html">HTML Tables</a>
            ||
            <a href = "forms.html">HTML Form</a>
            ||
            <a href = "website_evaluations.html">Website Evaluatons</a>
            ||
            <a href = "firstscripts.html">First Scripts</a>
            ||
            <a href = "byo_intro.html">BYO Intro</a>
            ||
            <a href = "project_1.html">Project 1</a>
        </nav>
        <p></p>
        <nav>
            <a href = "stuff/cRaPpY & WeBSiTe.htm" target="_blank">Crappy Website</a>
        </nav>